@font-face {
  font-family: "Cuprum";
  src: url("../fonts/cuprum.woff") format("woff"),
    url("../fonts/cuprum.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Cuprum Bold";
  src: url("../fonts/cuprumbold.woff2") format("woff2"),
    url("../fonts/cuprumbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Cuprum Italic";
  src: url("../fonts/cuprumitalic.woff2") format("woff2"),
    url("../fonts/cuprumitalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans Bold";
  src: url("../fonts/ptsansbold.woff2") format("woff2"),
    url("../fonts/ptsansbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans.woff2") format("woff2"),
    url("../fonts/ptsans.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

:root {
  --tab-background: #405069;
  --basic-ocean-blue: #293449;
  --basic-ocean: #32425c;
  --basic-smoky-white: #f1f5f7;
  --basic-white: #ffffff;
  --white-gray: #f9f5f0;
  --white-border: #eaeaea;
  --basic-black: #000000;
  --basic-red: #ee3643;
  --red-hover: #ca2c37;
  --red-active: #ba2732;
  --basic-yellow: #ffd180;
  --basic-green: #63a63e;
  --basic-hover-green: #5fbb2d;
  --basic-active-green: #518534;
  --button-shadow-green: #367315;
  --basic-greylight: #c5c5c5;
  --basic-catalog-filter: #f7f3ec;
  --form-background: #f1f1f1;
  --material: #ffbf47;
  --instruments: #3bbce3;
  --technic: #dc91d8;
  --sales: #8ed78f;
  --form-placeholder: #a9a9a9;
  --button-catalog-filter: #e5e5e5;
  --icon-login-hover: #3d546f;
  --nav-current: #1d2739;
  --toggle: #ababab;
  --radio-button-hover: #b5b5b5;
  --social-link-backround: #212a3a;
  --range-controls-scale: #d7dcde;
  --range-controls-bar: #00ca74;
  --range-controls-shadow: #cfcfcf;
  --shadow-rgba-logo: rgba(0, 0, 0, 0.24);
  --shadow-rgba-grey: rgba(255, 255, 255, 0.5);
  --shadow-rgba-dark-grey: rgba(255, 255, 255, 0.3);
  --shadow-rgba-dark: rgba(0, 0, 0, 0.25);
  --filter-shadow-rgba: rgba(0, 0, 0, 0.15);
  --shadow-rgba-products-item: rgba(0, 0, 0, 0.15);
  --shop-link-rgba-hover: rgba(197, 197, 197, 0.3);
  --shop-link-rgba-active: rgba(169, 169, 169, 0.3);
  --nav-item-active-background: #1d2739;
  --top-nav-link-active: #161d29;
  --footer-logo-shadow-rgb: rgb(0 0 0 / 24%);
  --filter-input-checkbox-rgb: rgb(255 255 255);
}

* {
  box-sizing: border-box;
}

.page {
  height: 100%;
  scroll-behavior: smooth;
}

.format {
  padding: 0;
  margin: 0;
}

.page-body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  background-color: var(--basic-white);
  color: var(--basic-white);
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.container {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-header {
  color: var(--basic-white);
  background-color: var(--basic-smoky-white);
}

.top-navigation {
  background-color: var(--basic-ocean-blue);
}

.top-navigation-wrapper {
  display: flex;
  justify-content: space-between;
}

.logo-wrapper {
  position: absolute;
  padding-top: 12px;
  text-align: center;
  width: 220px;
  height: 47px;
  background-color: var(--basic-red);
  box-shadow: inset 0px -5px 0px var(--shadow-rgba-logo);
}

.logo-wrapper:active {
  background-color: var(--red-active);
}

.top-nav-link {
  padding-left: 18px;
}

.top-nav-link:active {
  background-color: var(--top-nav-link-active);
  color: var(--shadow-rgba-grey);
}

.top-nav-link-order:hover {
  background-color: var(--basic-hover-green);
}

.top-nav-link-order:active {
  background-color: var(--basic-green);
  color: var(--shadow-rgba-grey);
}

.top-navigation-form {
  position: relative;
  margin-left: 220px;
}

.item-search {
  width: 271px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 8px;
  padding-left: 42px;
}

.icon-search {
  position: absolute;
  top: 12px;
  left: 17px;
}

.item-search {
  background: var(--basic-ocean-blue);
  border: none;
  outline: none;
}

.item-search:hover + .icon-search {
  opacity: 1;
}

.item-search:active {
  color: var(--shadow-rgba-grey);
}

.item-search:focus {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: left;
  background-color: var(--basic-white);
}

.item-search:focus + .icon-search {
  fill: var(--basic-red);
  opacity: 1;
}

.item-search::placeholder {
  font-family: "Cuprum", Arial, sans-serif;
  color: var(--basic-white);
  font-size: 18px;
  line-height: 24px;
}

.top-navigation-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.top-navigation-item {
  position: relative;
  width: 150px;
  text-align: center;
}

.icon-bookmarks {
  position: absolute;
  left: 19px;
  top: 12px;
}

.icon-basket {
  position: absolute;
  left: 25px;
  top: 12px;
}

.user-block-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 46px;
  margin-bottom: 40px;
}

.user-block-wrapper-catalog {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.top-nav-link {
  display: block;
  padding-top: 9px;
  padding-bottom: 9px;
  color: var(--basic-white);
}

.catalog-basket {
  background-color: var(--basic-red);
}

.top-nav-link:hover .icon-basket g,
.top-nav-link:hover .icon-bookmarks g {
  opacity: 1;
}

.top-nav-link:active .icon-basket g,
.top-nav-link:active .icon-bookmarks g {
  opacity: 0.3;
}

.top-nav-link-order {
  display: block;
  padding: 0;
  margin: 0;
  padding-top: 9px;
  padding-bottom: 9px;
  color: var(--basic-white);
  background-color: var(--basic-green);
}

.nav-item,
.link-no-decor {
  text-decoration: none;
  list-style: none;
}

.user-button:hover {
  color: var(--basic-red);
}

.user-button:active {
  color: var(--basic-greylight);
}

.nav-item:hover {
  background-color: var(--basic-ocean-blue);
}

.nav-item:active {
  color: var(--shadow-rgba-grey);
  background-color: var(--nav-item-active-background);
}

.nav-current {
  background-color: var(--nav-current);
}

.header-text {
  font-family: "Cuprum Italic", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  color: var(--basic-red);
  padding: 0;
  margin: 0;
  margin-left: 30px;
  width: 197px;
}

.shop-info {
  margin-left: 22px;
}

.header-telephone {
  border: 3px solid var(--basic-white);
  position: relative;
  margin: 0;
  padding: 5px 50px 8px 76px;
  height: 45px;
}

.catalog .header-telephone {
  padding-top: 5px;
  margin-left: 18px;
}

.header-telephone-number {
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  color: var(--basic-red);
  text-decoration: none;
}

.header-telephone-number::before {
  content: "";
  position: absolute;
  width: 19px;
  height: 19px;
  background-image: url("../img/icons/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  top: 13px;
  left: 39px;
}

.header-adress {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: var(--basic-ocean);
  padding: 0;
  margin: 0;
  margin-top: 3px;
  text-align: center;
}

.catalog .header-adress {
  padding-left: 20px;
}

.user-block-list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.user-button {
  display: flex;
  font-weight: 400;
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
  text-decoration: none;
  background-color: var(--basic-white);
  justify-content: center;
  align-items: center;
}

.icon-login {
  position: relative;
  margin-right: 6px;
}

.icon-search {
  fill: var(--basic-white);
  opacity: 0.3;
}

.enter {
  width: 121px;
  height: 45px;
  margin-right: 10px;
  padding-right: 9px;
}

.enter:hover .icon-login path {
  fill: var(--icon-login-hover);
}

.enter:active .icon-login path {
  fill: var(--basic-greylight);
}

.registration {
  width: 150px;
  height: 45px;
}

.main-navigation {
  height: 60px;
  background-color: var(--basic-ocean);
  margin-bottom: 60px;
}

.site-navigation {
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 0;
  list-style: none;
  height: 60px;
  align-items: center;
  border-bottom: 5px solid var(--basic-ocean-blue);
}

.site-navigation-item:first-child {
  margin-left: 45px;
}

.site-navigation-item:last-child {
  margin-right: 45px;
}

.nav-item {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
  padding: 15px 29px 20px 28px;
}

.main-elements {
  margin: 59px 0 59px;
}

.elements-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 123px 123px 123px;
  gap: 20px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.slider {
  grid-column: 1/3;
  grid-row: 2/4;
}

.elements-item {
  position: relative;
  font-family: "Cuprum Bold", Arial, sans-serif;
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-white);
}

.material {
  background-color: var(--material);
}

.material::before {
  content: "";
  position: absolute;
  background-image: url("../img/icons/icon-bucket.svg");
  background-repeat: no-repeat;
  width: 44px;
  height: 65px;
  left: 213px;
  top: 31px;
}

.material::after {
  content: "";
  position: absolute;
  background-image: url("../img/content/catalog-new.png");
  background-repeat: no-repeat;
  width: 70px;
  height: 70px;
  left: 230px;
  top: 0;
}

.instruments {
  background-color: var(--instruments);
}

.instruments::after {
  content: "";
  position: absolute;
  background-image: url("..//img/icons/icon-drill.svg");
  background-repeat: no-repeat;
  width: 71px;
  height: 61px;
  left: 194px;
  top: 34px;
}

.technic {
  background-color: var(--technic);
}

.technic::after {
  content: "";
  position: absolute;
  background-image: url("..//img/icons/icon-tractor.svg");
  background-repeat: no-repeat;
  width: 78px;
  height: 62px;
  left: 191px;
  top: 31px;
}

.sales {
  background-color: var(--sales);
}

.sales::after {
  content: "";
  position: absolute;
  background-image: url("..//img/icons/icon-basket.svg");
  background-repeat: no-repeat;
  width: 59px;
  height: 72px;
  left: 196px;
  top: 26px;
}

.delivery {
  background-color: var(--material);
}

.delivery::after {
  content: "";
  position: absolute;
  background-image: url("..//img/icons/icon-truck.svg");
  background-repeat: no-repeat;
  width: 78px;
  height: 63px;
  left: 191px;
  top: 32px;
}

.elements-item-header {
  font-family: "Cuprum Bold", Arial, sans-serif;
  font-size: 24px;
  line-height: 30px;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 20px;
  left: 23px;
}

.shop-link {
  display: inline-flex;
  width: 135px;
  height: 38px;
  color: var(--basic-white);
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  background-color: var(--shadow-rgba-dark-grey);
  align-items: center;
  justify-content: center;
  margin-top: 64px;
  margin-left: 23px;
}

.shop-link:hover {
  background-color: var(--shop-link-rgba-hover);
}

.shop-link:active {
  background-color: var(--shop-link-rgba-active);
}

.slider-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.slider-item-1 {
  background-color: var(--button-catalog-filter);
  background-image: url("..//img/content/man-slider-1.jpg");
  background-repeat: no-repeat;
  width: 620px;
  height: 266px;
}

.slider-item-2 {
  background-image: url("..//img/content/man-slider-2.jpg");
  background-repeat: no-repeat;
  width: 620px;
  height: 266px;
}

.slider-description {
  height: 104px;
  padding-top: 23px;
  padding-left: 24px;
  background: var(--shadow-rgba-dark);
}

.slider-controls-buttons {
  position: relative;
}

.slider-controls {
  position: absolute;
  top: 204px;
  left: 293px;
}

.slider-left {
  position: absolute;
  width: 24px;
  height: 24px;
  border: 3px solid var(--basic-white);
  top: 131px;
  left: 31px;
  cursor: pointer;
  padding: 0;
  background: 0 0;
  border-top-style: none;
  border-right-style: none;
  transform: rotate(45deg);
}

.slider-right {
  position: absolute;
  width: 24px;
  height: 24px;
  border: 3px solid var(--basic-white);
  top: 130px;
  right: 26px;
  padding: 0;
  background: 0 0;
  transform: rotate(225deg);
  border-top-style: none;
  border-right-style: none;
  cursor: pointer;
}

.slider-pagination {
  cursor: pointer;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  padding: 0;
  margin: 0 2px;
  border: none;
  background-color: var(--basic-white);
  position: relative;
}

.slider-pagination.slider-pagination-active::before {
  content: "";
  position: absolute;
  height: 5px;
  width: 5px;
  background-color: var(--basic-red);
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.slider-item-1 .button {
  margin-top: 97px;
  margin-left: 24px;
}

.slider-item-2 .button {
  margin-top: 97px;
  margin-left: 24px;
}

.slider-header {
  font-family: "Cuprum Bold", Arial, sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.slider-text {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  padding: 0;
  margin-top: 5px;
}

.button {
  display: block;
  padding: 11px 0px 9px 0px;
  text-align: center;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-white);
  background: var(--basic-red);
  width: 192px;
  height: 38px;
  border: none;
  text-decoration: none;
}

.button:hover,
.button-radius:hover {
  background-color: var(--red-hover);
}

.button:active,
.button-radius:active {
  background-color: var(--red-active);
}

.popular-products {
  margin-bottom: 70px;
}

.popular-products-wrapper {
  display: flex;
  background-color: var(--white-gray);
  margin-bottom: 20px;
  justify-content: space-between;
  align-items: center;
  height: 89px;
}

.popular-products-wrapper .button {
  margin-right: 14px;
}

.popular-header {
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-ocean);
  padding: 0;
  margin: 0 0 0 28px;
  background-color: var(--white-gray);
}

.products-list {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  margin: 0;
}

.catalog-products-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  padding: 0;
  margin-left: 20px;
  margin-top: 28px;
}

.products-item-header {
  font-family: "PT Sans Bold", Arial, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: var(--basic-black);
  padding: 0;
  padding-left: 18px;
  padding-right: 17px;
  margin: 0;
  width: 220px;
  margin-top: 13px;
}

.products-item {
  position: relative;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  color: var(--basic-black);
  padding: 0;
  margin: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--white-border);
  width: 220px;
  height: 318px;
  background-color: var(--basic-white);
}

.catalog .products-item {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  color: var(--basic-black);
  padding: 0;
  margin: 0;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--white-border);
  margin-bottom: 18px;
  width: 220px;
  height: 318px;
}

.catalog .no-discount {
  margin-top: 38px;
}

.products-item-img {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
  width: 184px;
  height: 164px;
}

.item-img {
  margin-top: 9px;
  margin-right: 6px;
}

.catalog .item-img {
  margin-top: 3px;
  margin-right: 11px;
}

.old-price,
.price {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  font-family: "PT Sans Bold", Arial, sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  color: var(--basic-white);
  background-color: var(--basic-red);
  width: 144px;
  height: 38px;
  padding: 0;
  margin: 0;
}

.old-price {
  color: var(--form-placeholder);
  background-color: var(--basic-white);
  text-decoration-line: line-through;
  padding-bottom: 3px;
}

.price {
  width: 121px;
  position: relative;
  border-radius: 3px;
  margin-right: -2px;
  margin-left: -11px;
  padding-left: 10px;
}

.price::after {
  content: "";
  position: absolute;
  top: 0;
  left: 119px;
  width: 0;
  height: 0;
  padding: 0;
  margin: 0;
  border-style: solid;
  border-width: 19px 0 19px 19px;
  border-color: transparent transparent transparent var(--basic-red);
}

.item-button {
  padding-top: 38px;
  margin: 0;
  width: 100%;
  display: none;
  height: 164px;
  position: absolute;
  background: var(--basic-white);
}

.products-item:hover {
  filter: drop-shadow(0px 4px 20px var(--filter-shadow-rgba));
}

.products-item:hover .item-button {
  display: block;
}

.button-buy {
  position: relative;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  background: var(--basic-green);
  color: var(--basic-white);
  border: none;
  box-shadow: inset 0px -3px 0px var(--button-shadow-green);
  border-radius: 2px;
  width: 135px;
  height: 38px;
  text-transform: uppercase;
  padding-left: 15px;
  cursor: pointer;
}

.button-buy::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background-image: url("..//img/icons/icon-cart.svg");
  top: 10px;
  left: 30px;
}

.button-buy:hover {
  background: var(--basic-hover-green);
}

.button-buy:active {
  background: var(--basic-active-green);
}

.button-in-bookmarks {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  background: var(--basic-white);
  border-radius: 2px;
  width: 135px;
  height: 38px;
  text-transform: uppercase;
  border: 3px solid var(--basic-green);
  box-sizing: border-box;
  margin-top: 10px;
  cursor: pointer;
}

.button-in-bookmarks:hover {
  border: 3px solid var(--basic-ocean);
}

.button-in-bookmarks:active {
  opacity: 0.5;
}

.new-item {
  position: relative;
}

.new-item::after {
  content: "";
  position: absolute;
  background-image: url("../img/content/catalog-new.png");
  background-repeat: no-repeat;
  width: 70px;
  height: 70px;
  right: 0;
  top: 0;
}

.popular-manufacturers {
  margin-bottom: 70px;
}

.popular-manufacturers-wrapper {
  display: flex;
  background-color: var(--white-gray);
  margin-bottom: 20px;
  justify-content: space-between;
  align-items: center;
  height: 89px;
}

.popular-manufacturers-wrapper .button {
  margin-right: 14px;
}

.manufacturers-list {
  display: grid;
  grid-column: 1/-1;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 0;
  margin: 0;
  list-style: none;
  gap: 20px;
}

.manufacturers-item {
  width: 220px;
  height: 145px;
  background: var(--basic-white);
  border: 1px solid var(--white-border);
  box-sizing: border-box;
  cursor: pointer;
}

.manufacturers-item-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 220px;
  height: 145px;
}

.manufacturers-item:hover {
  filter: drop-shadow(0px 4px 20px var(--filter-shadow-rgba));
}

.manufacturers-item:active {
  opacity: 0.5;
}

.service {
  margin-bottom: 74px;
  background-color: var(--basic-smoky-white);
}

.service-header {
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  color: var(--basic-black);
  text-transform: uppercase;
  padding-top: 64px;
  padding-bottom: 25px;
  margin: 0;
}

.service-text {
  position: relative;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-black);
  padding: 0;
  margin: 0;
}

.service-delivery {
  position: relative;
  color: var(--basic-black);
  padding: 0;
  margin: 0;
  width: 300px;
  margin-top: 29px;
}

.service-delivery::after {
  content: "";
  background-image: url("..//img/content/truck-delivery.png");
  width: 468px;
  height: 261px;
  padding: 0;
  margin: 0;
  position: absolute;
  top: -37px;
  left: 151px;
}

.service-guarantee {
  position: relative;
  color: var(--basic-black);
  padding: 0;
  margin: 0;
  margin-top: 22px;
}

.service-guarantee::after {
  content: "";
  background-image: url("..//img/content/guarantee.png");
  width: 468px;
  height: 261px;
  padding: 0;
  margin: 0;
  position: absolute;
  top: -55px;
  right: -87px;
}

.service-credits {
  position: relative;
  margin-top: 29px;
}

.service-credits::after {
  content: "";
  background-image: url("..//img/content/credit-money.png");
  width: 465px;
  height: 285px;
  padding: 0;
  margin: 0;
  position: absolute;
  top: -60px;
  right: -10px;
}

.tab-service-wrapper {
  display: grid;
  grid-template-columns: 240px 1fr;
  margin-top: 70px;
  padding-bottom: 99px;
}

.tab-service-list {
  position: relative;
  padding: 0;
  margin: 0;
  list-style: none;
}

.tab-service-list::before {
  content: "";
  position: absolute;
  background-image: url("..//img/icons/line.png");
  background-repeat: no-repeat;
  width: 10px;
  height: 279px;
  top: -45px;
  left: 230px;
}

.tab-service-text {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 21px;
  font-weight: 700;
  line-height: 30px;
  border: none;
  color: var(--basic-white);
  background-color: var(--basic-ocean);
  padding: 0;
  width: 240px;
  height: 61px;
  text-align: left;
  padding-left: 22px;
  cursor: pointer;
}

.tab-service-text:hover {
  background-color: var(--basic-ocean-blue);
  color: var(--basic-white);
}

.tab-service-text:active {
  background-color: var(--basic-white);
  color: var(--basic-ocean);
}

.tab-service-text-active {
  background-color: var(--basic-white);
  color: var(--basic-ocean);
  box-shadow: 0px 1px 0px var(--basic-white);
}

.guarantee {
  box-shadow: 0px 1px 0px var(--basic-ocean-blue),
    inset 0px 1px 0px var(--tab-background);
}

.credits {
  box-shadow: 0px 1px 0px var(--basic-ocean-blue),
    inset 0px 1px 0px var(--tab-background);
}

.service-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.service-item {
  position: relative;
  margin-left: 80px;
}

.service-list-header {
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  color: var(--basic-ocean);
  text-transform: uppercase;
  padding-top: 0px;
  margin: 0;
}

.button-radius {
  background: var(--basic-red);
  width: 194px;
  height: 38px;
  border: none;
  border-radius: 2px;
  padding: 0;
  margin-top: 26px;
}

.about {
  margin-bottom: 69px;
}

.about-company-wrapper {
  display: grid;
  grid-template-columns: 1fr 300px;
}

.about-company-header {
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  color: var(--basic-black);
  text-transform: uppercase;
  padding-bottom: 24px;
  margin: 0;
}

.about-company-text {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-black);
  padding: 0;
  margin: 0;
  margin-bottom: 26px;
}

.contacts-text {
  margin-bottom: 32px;
}

.button-map {
  border: none;
  padding: 0;
}

.map {
  border: none;
  margin-bottom: 20px;
}

.button-about-company {
  width: 220px;
}

.button-contacts {
  margin-top: 21px;
  width: 300px;
  margin-top: 18px;
}

.more-text {
  padding: 0;
  margin: 0;
}

.about-company-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.about-company-item {
  display: flex;
  align-items: center;
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-black);
  margin-bottom: 12px;
  position: relative;
}

.about-company-item:first-child {
  padding-top: 2.5px;
}

.about-company-item:last-child {
  margin-bottom: 16px;
  padding-bottom: 2px;
}

.about-text {
  display: flex;
  margin: 0;
  padding: 0;
  margin-left: 37px;
}

.about-company-item::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 2px;
  background-color: var(--basic-red);
}

.about-company-item:last-child::before {
  top: 9px;
}

.footer-top {
  background-color: var(--basic-ocean);
}

.footer-logo {
  display: flex;
  width: 220px;
  height: 68px;
  background-color: var(--basic-red);
  box-shadow: inset 0px -5px 0px var(--footer-logo-shadow-rgb);
  align-items: center;
  justify-content: center;
}

.footer-text {
  padding: 0;
  margin: 0;
  margin-top: 9px;
}

.catalog .footer-text {
  padding: 0;
  margin: 0;
  margin-top: 7px;
}

.footer-telephone {
  text-decoration: none;
  color: var(--basic-white);
}

.footer-navigation-list {
  display: flex;
  justify-content: space-between;
  padding: 0;
  margin: 0;
  list-style: none;
  width: 546px;
  margin-top: 3px;
}

.footer-navigation-item {
  margin-top: 37px;
}

.catalog .footer-navigation-item {
  margin-top: 33px;
}

.footer-nav-link {
  text-decoration: none;
  color: var(--basic-white);
}

.footer-nav-link:hover {
  text-decoration: underline;
}

.footer-nav-link:active {
  text-decoration: none;
  opacity: 0.5;
}

.footer-menu {
  display: flex;
  justify-content: space-between;
}

.footer-sub-menu-list {
  display: flex;
  justify-content: space-between;
  width: 524px;
  padding: 0;
  margin: 0;
  list-style: none;
  margin-top: 13px;
}

.catalog .footer-sub-menu-list {
  display: flex;
  justify-content: space-between;
  width: 524px;
  padding: 0;
  margin: 0;
  list-style: none;
  margin-top: 13px;
}

.footer-sub-menu {
  display: flex;
  justify-content: space-between;
  margin-top: 15px;
  padding-bottom: 55px;
}

.color-gold {
  color: var(--basic-yellow);
}

.mail {
  margin-right: 51px;
}

.mail,
.site {
  text-decoration: none;
}

.mail:hover,
.site:hover {
  text-decoration: underline;
}

.mail:active,
.site:active {
  color: var(--basic-red);
  text-decoration: none;
}

.footer-contacts {
  padding-top: 36px;
  padding-bottom: 29px;
  background-color: var(--basic-ocean-blue);
}

.footer-contacts-wrapper {
  display: flex;
}

.footer-copyright-wrapper {
  display: flex;
  justify-content: space-between;
}

.footer-contacts-info {
  position: relative;
  right: 13px;
  bottom: 4px;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  padding-top: 2px;
}

.catalog .footer-contacts-info {
  padding-top: 3px;
}

.footer-copyright {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  padding: 0;
  margin: 0;
}

.footer-social-list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
  position: relative;
  left: 13px;
  bottom: 5px;
}

.social-link {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--social-link-backround);
}

.social-link:hover {
  background-color: var(--basic-red);
}

.social-link {
  display: flex;
}

.vk {
  position: relative;
  left: 4px;
  margin-right: 5px;
}

.instagram {
  position: relative;
  right: 4px;
  margin-left: 5px;
}

.modal {
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-black);
}

.modal-hidden {
  display: none;
}

.form-name-placeholder::placeholder,
.form-email-placeholder::placeholder,
.form-text-placeholder::placeholder {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: var(--form-placeholder);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
  visibility: hidden;
}

.button-footer-form {
  width: 460px;
  height: 38px;
}

.button-exit {
  position: absolute;
  right: 11px;
  top: 14px;
  background: 0 0;
  border: none;
}

.button-exit:active {
  opacity: 0.5;
}

/*catalog.html*/
.cart-buy {
  background-color: var(--basic-red);
}

.user-name {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--basic-white);
  width: 299px;
  height: 45px;
  padding: 0;
  margin: 0;
}

.user-name-link {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 21px;
  line-height: 21px;
  font-weight: 400;
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: var(--basic-black);
}

.user-name-link:hover .icon-user path {
  fill: var(--icon-login-hover);
}

.user-name-link:active .icon-user path {
  fill: var(--basic-greylight);
}

.user-name-link:active {
  color: var(--basic-greylight);
}

.icon-exit:hover path {
  fill: var(--icon-login-hover);
}

.icon-exit:active path {
  fill: var(--basic-greylight);
}

.icon-user {
  position: absolute;
  top: 13px;
  left: 15px;
}

.login-exit-button {
  position: absolute;
  top: 14px;
  right: 17px;
  border: none;
  background-color: var(--basic-white);
}

.user-menu-list {
  position: relative;
  display: flex;
  padding: 0;
  margin: 0;
  margin-top: 7px;
  list-style: none;
  justify-content: space-evenly;
  margin-top: 3px;
  padding-left: 7px;
}

.account {
  margin-right: 9px;
}

.user-menu-item::before {
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 50%;
  top: 10px;
  left: 132px;
  position: absolute;
  background-color: var(--basic-ocean);
}

.user-link {
  position: relative;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-ocean);
  text-decoration: none;
}

.user-link:hover {
  color: var(--basic-red);
}

.user-link:active,
.marker-color:active {
  color: var(--basic-greylight);
}

.nav-catalog {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.nav-catalog-list {
  display: flex;
  padding: 0;
  margin: 21px 0 18px;
  list-style: none;
  margin-left: 5px;
  position: relative;
}

.nav-catalog-item:first-child {
  margin-left: -5px;
  margin-top: 2px;
}

.nav-catalog-item {
  position: relative;
}

.nav-catalog-item:nth-child(2) {
  margin-left: 41px;
}

.nav-catalog-item:nth-child(3) {
  margin-left: 40px;
}

.nav-catalog-item:nth-child(4) {
  margin-left: 43px;
}

.nav-catalog-item:not(:last-child)::after {
  content: "";
  position: absolute;
  background-image: url("../img/icons/icon-right-small.svg");
  width: 8px;
  height: 12px;
  top: 3px;
  right: -26px;
}

.nav-catalog-item:first-child::after {
  right: -23px;
}

.breadcrumbs {
  text-decoration: none;
  color: var(--basic-black);
}

.catalog-header {
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-ocean);
  background-color: var(--basic-smoky-white);
  padding: 29px 0 0 29px;
  margin-bottom: 20px;
  height: 89px;
}

.catalog-wrapper {
  display: flex;
}

.filter-catalog,
.products-catalog {
  font-family: "PT Sans", Arial, sans-serif;
}

.filter-text,
.sort-text {
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-catalog-filter);
  padding: 0;
  margin: 0;
}

.filter-text {
  display: flex;
  align-items: center;
  padding-left: 18px;
}

.sort-text {
  display: flex;
  align-items: center;
  margin-left: 19px;
}

.filter-catalog {
  width: 220px;
}

.filter-text {
  padding: 10px 0 10px 18px;
  height: 38px;
}

.filter-fieldset {
  padding: 0;
  margin: 0;
  border: none;
  border-bottom: 1px solid var(--white-border);
  padding-bottom: 25px;
}

.legend-text-price {
  font-family: "PT Sans Bold", Arial, sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
  padding-top: 14.15px;
  padding-bottom: 10.85px;
}

.manufacturers-fieldset {
  padding: 0;
  margin: 0;
  border: none;
  border-bottom: 1px solid var(--white-border);
}

.legend-text-manufacturers {
  font-family: "PT Sans Bold", Arial, sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
  padding-top: 14px;
}

.power-supply-fieldset {
  padding: 0;
  margin: 0;
  border: none;
}

.legend-text-power-supply {
  font-family: "PT Sans Bold", Arial, sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
  padding-top: 18px;
  padding-bottom: 7px;
}

.sorting {
  display: flex;
  background-color: var(--basic-catalog-filter);
  margin-left: 21px;
  width: 700px;
  height: 38px;
  justify-content: space-between;
}

.range-controls {
  position: relative;
  width: 220px;
  height: 80px;
  margin-bottom: 9px;
  background-color: var(--basic-catalog-filter);
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  border-radius: 3px;
}

.range-controls .scale {
  height: 2px;
  background: var(--range-controls-scale);
}

.range-controls .bar {
  width: 80%;
  height: 2px;
  background: var(--range-controls-bar);
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 18px;
  height: 18px;
  padding: 0;
  border: 8px solid var(--basic-white);
  background-color: var(--toggle);
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 var(--range-controls-shadow);
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: 9px;
}

.price-controls::before {
  position: absolute;
  content: "";
  background-image: url("../img/icons/dash.svg");
  top: 18px;
  left: 105px;
  width: 18px;
  height: 30px;
  background-repeat: no-repeat;
}

.price-controls .price-number {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  width: 95px;
  height: 38px;
  text-align: center;
  border: none;
  border-radius: 3px;
  background-color: var(--basic-catalog-filter);
  padding: 0;
}

.filter-catalog-list {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  color: var(--basic-black);
  text-transform: uppercase;
  list-style: none;
  padding: 0;
  padding-left: 35px;
  margin-top: 17.5px;
  margin-bottom: 27px;
}

.filter-catalog-item {
  margin-bottom: 18.5px;
}

.filter-catalog-item .power {
  margin-bottom: 22.5px;
}

.filter-catalog-item:nth-child(2) {
  margin-bottom: 20px;
}

.filter-catalog-item:nth-child(3) {
  margin-bottom: 21px;
}

.filter-catalog-item:nth-child(4) {
  margin-bottom: 21px;
}

.filter-option {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.filter-option::before {
  content: "";
  position: absolute;
  border: 2px solid var(--basic-greylight);
  border-radius: 4px;
  top: -4px;
  left: -37px;
  width: 23px;
  height: 23px;
}

.filter-option:hover::before {
  border-color: var(--radio-button-hover);
}

.filter-input-checkbox:checked + .filter-option::after {
  content: "";
  width: 17px;
  height: 9px;
  border-width: 4px;
  border-style: none none solid solid;
  border-color: var(--basic-greylight);
  border-image: initial;
  position: absolute;
  top: -1px;
  left: -28px;
  transform: rotate(-48deg);
  box-shadow: var(--filter-input-checkbox-rgb) 0px -2px 0px 0px inset,
    var(--filter-input-checkbox-rgb) 0px 2px 0px 0px;
}

.filter-input-checkbox:checked + .filter-option:hover::after {
  border-color: var(--radio-button-hover);
}

.filter-input-checkbox:focus + .filter-option::before {
  outline: 1px solid var(--basic-black);
}

.power-supply-label {
  position: relative;
  cursor: pointer;
  font-size: 15px;
}

.power-supply-label::before {
  content: "";
  width: 16px;
  height: 16px;
  border: 5px solid var(--basic-greylight);
  border-radius: 50%;
  position: absolute;
  top: -2px;
  left: -36px;
}

.power-supply-label:hover::before {
  border-color: var(--radio-button-hover);
}

.filter-input-checkbox:checked + .power-supply-label::after {
  content: "";
  width: 10px;
  height: 10px;
  background-color: var(--basic-greylight);
  border-radius: 50%;
  position: absolute;
  top: 6.5px;
  left: -27.5px;
}

.filter-input-checkbox:checked + .power-supply-label:hover::after {
  background-color: var(--radio-button-hover);
}

.button-catalog-filter {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  background-color: var(--basic-white);
  color: var(--basic-black);
  border: 1px solid var(--button-catalog-filter);
  text-transform: uppercase;
  width: 220px;
  height: 38px;
  padding: 0;
  margin-top: 13.5px;
}

.sort-catalog-list {
  display: flex;
  padding: 0;
  margin: 0;
  list-style: none;
}

.sort-catalog-item {
  display: flex;
  align-items: center;
}

.sort-catalog-item:nth-child(1) {
  margin-right: 70px;
}

.sort-catalog-item:nth-child(2) {
  margin-right: 65px;
}

.sort-catalog-item:nth-child(3) {
  margin-right: 46px;
}

.button-shape {
  border: none;
  padding: 0;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 5.5px 10px 5.5px;
  border-color: transparent transparent var(--basic-greylight) transparent;
}

.button-shape:hover {
  border-color: var(--basic-black) transparent transparent transparent;
  opacity: 1;
}

.button-shape-active {
  border-color: transparent transparent var(--basic-red) transparent;
}

.button-shape-active:hover {
  border-color: transparent transparent var(--basic-black) transparent;
}

.button-shape-up {
  margin-right: 21px;
}

.button-shape-down {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 10px 5.5px 0 5.5px;
  border-color: var(--basic-greylight) transparent transparent transparent;
  margin-right: 17px;
}

.button-sort {
  padding: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  opacity: 0.3;
  border: none;
  background: var(--basic-catalog-filter);
  border-bottom: 1px dashed var(--basic-red);
}

.button-sort-active {
  color: var(--basic-red);
  opacity: 1;
  border-bottom: none;
}

.button-sort:hover {
  color: var(--basic-black);
  opacity: 1;
  border-bottom: 1px solid var(--basic-red);
}

.button-sort:active {
  color: var(--basic-red);
  border: none;
}

.catalog-page-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  padding: 0;
  margin-left: 20px;
  margin-bottom: 59px;
  list-style: none;
  padding-top: 12px;
}

.catalog-page-item {
  display: flex;

  color: var(--basic-black);
  width: 38px;
  height: 38px;
  margin-right: 10px;
  align-items: center;
  justify-content: center;
}

.catalog-page-item:last-child {
  display: flex;
  width: 140px;
  height: 38px;
}

.current-page,
.next-page {
  display: flex;
  align-items: center;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  color: var(--basic-black);
  border: 1px solid var(--white-border);
  width: 38px;
  height: 38px;
  justify-content: center;
}

.current-page {
  border: none;
  color: var(--basic-white);
  background-color: var(--basic-red);
}

.next-page-text {
  display: flex;
  text-transform: uppercase;
  justify-content: center;
  width: 140px;
  height: 38px;
}

.current-page:hover,
.next-page:hover {
  border-color: var(--basic-greylight);
}

.current-page:active,
.next-page:active {
  border-color: var(--basic-red);
}

.about-drill {
  background-color: var(--basic-smoky-white);
}

.about-drill-header {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
  padding-top: 64px;
  padding-bottom: 25px;
  margin: 0;
}

.about-drill-text {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  color: var(--basic-black);
  padding-bottom: 67px;
  margin: 0;
}

.modal-info-text {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  color: var(--basic-black);
}

.button-continue {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  width: 192px;
  height: 38px;
  border: none;
  text-decoration: none;
  color: var(--basic-black);
  background-color: var(--basic-white);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 5px;
}

/* Modal index*/

.modal {
  position: fixed;
  width: 620px;
  height: 430px;
  border-top: 7px solid var(--basic-red);
  background-color: var(--basic-white);
  padding-top: 39px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.modal-map {
  position: fixed;
  border-top: 7px solid var(--basic-red);
  background-color: var(--basic-white);
  padding-top: 39px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 0;
  width: 943px;
  height: 449px;
  display: none;
}

.modal-map .button-exit {
  top: 10px;
}

.modal-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 80px;
}

.form-name-placeholder,
.form-email-placeholder,
.form-text-placeholder {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.form-name {
  display: block;
  margin-bottom: 11px;
}

.form-name-placeholder {
  width: 220px;
  height: 38px;
  border: 2px solid var(--basic-greylight);
  border-radius: 2px;
  padding: 7px 8px 7px 12px;
}

.form-email-placeholder {
  width: 220px;
  height: 38px;
  border: 2px solid var(--basic-greylight);
  border-radius: 2px;
  padding: 7px 10px 7px 12px;
}

.form-email {
  display: block;
  margin-bottom: 11px;
}

.form-text {
  display: block;
  margin: 13px 0 11px;
}

.form-text-placeholder {
  padding: 6px 0 0 12px;
  width: 460px;
  height: 114px;
  border: 2px solid var(--basic-greylight);
  border-radius: 2px;
  resize: none;
}

.button-footer {
  padding: 37px 80px;
  margin: 37px 0 0 0;
  background-color: var(--form-background);
}

.up-button {
  position: fixed;
  z-index: 1;
  padding: 0;
  bottom: 75px;
  right: 20px;
  width: 64px;
  height: 64px;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
  vertical-align: middle;
  border: 5px solid;
  border-radius: 50%;
  display: none;
  cursor: pointer;
  color: rgb(255, 36, 36);
  background-color: rgba(255, 255, 255, 0.8);
  border-color: rgb(255, 36, 36);
  outline-color: #b6aaff;
}

.up-button:hover {
  color: #53d95a;
  background-color: rgba(10, 9, 16, 0.6);
  border-color: #53d95a;
}

.shown {
  display: inline-block;
}

/* Modal catalog */

.modal-info {
  position: fixed;
  border-top: 7px solid var(--basic-red);
  width: 620px;
  height: 282px;
  padding-top: 73px;
  background-color: var(--basic-white);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button-exit-catalog {
  position: absolute;
  right: 11px;
  top: 14px;
  border: none;
  background-color: var(--basic-white);
}

.modal-info-text {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0;
  background-color: var(--basic-white);
}

.modal-info-text::before {
  content: "";
  position: absolute;
  top: 48px;
  left: 81px;
  width: 66px;
  height: 66px;
  background-image: url("../img/icons/icon-mark.svg");
}

.button-wrapper-modal {
  margin-top: 104.43px;
  display: flex;
  justify-content: center;
  background-color: var(--form-background);
  padding-top: 37px;
  padding-bottom: 37px;
}

.button-modal-catalog {
  margin-right: 5px;
}
