@font-face {
  font-family: "Cuprum";
  src: url("../fonts/cuprum.woff") format("woff"),
    url("../fonts/cuprum.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Cuprum Bold";
  src: url("../fonts/cuprumbold.woff2") format("woff2"),
    url("../fonts/cuprumbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Cuprum Italic";
  src: url("../fonts/cuprumitalic.woff2") format("woff2"),
    url("../fonts/cuprumitalic.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "PT Sans Bold";
  src: url("../fonts/ptsansbold.woff2") format("woff2"),
    url("../fonts/ptsansbold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
}

:root {
  --basic-ocean-blue: #293449;
  --basic-ocean: #32425c;
  --basic-smoky-white: #f1f5f7;
  --basic-white: #ffffff;
  --white-gray: #f9f5f0;
  --white-border: #eaeaea;
  --basic-black: #000000;
  --basic-red: #ee3643;
  --red-hover: #ca2c37;
  --red-active: #ba2732;
  --basic-yellow: #ffd180;
  --basic-green: #63a63e;
  --basic-hover-green: #5fbb2d;
  --basic-active-green: #518534;
  --button-shadow-green: #367315;
  --basic-gold: #ffd180;
  --basic-greylight: #c5c5c5;
  --basic-catalog-filter: #f7f3ec;
  --form-background: #f4f4f4;
  --material: #ffbf47;
  --instruments: #3bbce3;
  --technic: #dc91d8;
  --sales: #8ed78f;
  --delivery: #ffbf47;
  --form-placeholder: #a9a9a9;
  --button-catalog-filter: #e5e5e5;
  --pagination-border: #c5c5c5;
  --old-price: #a9a9a9;
}

* {
  box-sizing: border-box;
}

.page {
  height: 100%;
}

.format{
  padding: 0;
  margin: 0;
}
.page-body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  background-color: var(--basic-white);
  color: var(--basic-white);

  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.container {
  width: 960px;
  margin: 0 auto;
  padding: 0 10px;
}

.main-header {
  color: var(--basic-white);
  background-color: var(--basic-smoky-white);
}

.top-navigation {
  background-color: var(--basic-ocean-blue);
}

.top-navigation-wrapper {
  display: grid;
  grid-template-columns: 220px 271px 1fr;
}

.logo-wrapper {
  width: 220px;
  height: 47px;
  background-color: var(--basic-red);
  box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
}

.item-search {
  background: var(--basic-ocean-blue);
  border: none;
}

.item-search::placeholder {
  font-family: "Cuprum", Arial, sans-serif;
  color: var(--basic-white);
  font-size: 18px;
  line-height: 24px;
}

.top-navigation-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.user-block-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.user-block-wrapper-catalog {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.top-nav-link {
  color: var(--basic-white);
}

.arrange {
  padding: 0;
  margin: 0;
  width: 150px;
  height: 42px;
  background-color: #63a63e;
}

.nav-item,
.link-no-decor {
  text-decoration: none;
  list-style: none;
}

.user-button:hover {
  color: var(--basic-red);
}

.user-button:active {
  color: var(--basic-greylight);
}

.nav-item:hover {
  background-color: var(--basic-ocean-blue);
}

.nav-item:active {
  opacity: 0.5;
}

.header-text {
  font-family: "Cuprum Italic", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 23px;
  color: var(--basic-red);
  padding: 0;
  margin: 0;
}

.header-telephone {
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  border: 3px solid var(--basic-white);
  color: var(--basic-red);
}

.header-adress {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: var(--basic-ocean);
  padding: 0;
  margin: 0;
}

.user-block-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.user-button {
  font-weight: 400;
  font-size: 21px;
  line-height: 21px;
  color: var(--basic-black);
  text-decoration: none;
}

.enter {
}

.registration {
}

.main-navigation {
  background-color: var(--basic-ocean);
}

.site-navigation {
  padding: 0;
  margin: 0;
  list-style: none;
}

.nav-item {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-white);
}

.nav-item:hover {
}

.main-elements {
}

.main-elements-wrapper {
  display: grid;
}

.elements-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.elements-item {
  font-family: "Cuprum Bold", Arial, sans-serif;
  font-size: 24px;
  line-height: 30px;
  color: var(--basic-white);
  width: 300px;
  height: 123px;
}

.material {
  background-color: var(--material);
}

.instruments {
  background-color: var(--instruments);
}

.technic {
  background-color: var(--technic);
}

.sales {
  background-color: var(--sales);
}

.delivery {
  background-color: var(--delivery);
}

.elements-item-header {
  font-family: "Cuprum Bold", Arial, sans-serif;
  font-size: 24px;
  line-height: 30px;
  margin: 0;
  padding: 0;
}

.shop-link {
  color: var(--basic-white);
  text-transform: uppercase;
  font-size: 14px;
  line-height: 18px;
  background-color: rgba(255, 255, 255, 0.3);
}

.shop-link:hover {
}

.shop-link:active {
}

.slider-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.slider-container {
}

.slider-list {
  padding: 0;
  margin: 0;
}

.slider-header {
  font-family: "Cuprum Bold", Arial, sans-serif;
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.text {
  padding: 0;
  margin: 0;
}

.button {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  color: var(--basic-white);
  background: var(--basic-red);
  width: 192px;
  height: 38px;
  border: none;
  text-decoration: none;
}

.button:hover,
.button-radius:hover {
  background-color: var(--red-hover);
}

.button:active,
.button-radius:active {
  background-color: var(--red-active);
}

.popular-header {
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-ocean);
  padding: 0;
  margin: 0;
  background-color: var(--white-gray);
}

.popular-products-wrapper {
  display: grid;
  grid-template-columns: 1fr 192px;
}

.products-list {
  display: grid;
  grid-column: 1/-1;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 20px;
}

.catalog-products-list {
  display: grid;
  list-style: none;
  grid-template-columns: 220px 220px 220px;
  padding: 0;
  margin: 0;
}

.products-list-wrapper {
  display: grid;
}

.products-item-header {
  font-family: "PT Sans Bold", Arial, sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: var(--basic-black);
  padding: 0;
  margin: 0;
}

.products-item {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  color: var(--basic-black);
  padding: 0;
  margin: 0;
}
.old-price,
.price {
  font-family: "PT Sans Bold", Arial, sans-serif;
  font-size: 17px;
  font-weight: 700;
  line-height: 18px;
  color: var(--basic-white);
  background-color: var(--basic-red);
  width: 144px;
  height: 38px;
  padding: 0;
  margin: 0;
}

.old-price {
  color: var(--old-price);
  background-color: var(--basic-white);
  text-decoration-line: line-through;
}

.button-buy {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  background: var(--basic-green);
  color: var(--basic-white);
  border: none;
  box-shadow: inset 0px -3px 0px var(--button-shadow-green);
  border-radius: 2px;
  width: 135px;
  height: 38px;
  text-transform: uppercase;
}

.button-buy:hover {
  background: var(--basic-hover-green);
}

.button-buy:active {
  background: var(--basic-active-green);
}

.button-in-bookmarks {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  background: var(--basic-white);
  border-radius: 2px;
  width: 135px;
  height: 38px;
  text-transform: uppercase;
  border: 3px solid var(--basic-green);
  box-sizing: border-box;
}

.button-in-bookmarks:hover {
  border: 3px solid var(--basic-ocean);
}

.button-in-bookmarks:active {
  opacity: 0.5;
}

.new-item {
  background-image: url("../img/content/catalog-new.png");
  background-repeat: no-repeat;
}

.popular-manufacturers-wrapper {
  display: grid;
  grid-template-columns: 1fr 192px;
}

.manufacturers-list {
  display: grid;
  grid-column: 1/-1;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  padding: 0;
  margin: 0;
  list-style: none;
  gap: 20px;
}

.manufacturers-item {
  width: 220px;
  height: 145px;
  background: #ffffff;
  border: 1px solid var(--white-border);
  box-sizing: border-box;
}

.manufacturers-item:hover {
  filter: drop-shadow(0px 4px 20px rgba(0, 0, 0, 0.15));
}

.manufacturers-item:active {
  opacity: 0.5;
}

.service {
  background-color: var(--basic-smoky-white);
}

.service-header {
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  color: var(--basic-black);
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.service-text {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-black);
  padding: 0;
  margin: 0;
}

.tab-service-wrapper {
  display: grid;
  grid-template-columns: 240px 1fr;
}

.tab-service-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.tab-service-text {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 21px;
  font-weight: 700;
  line-height: 30px;
  border: none;
  color: var(--basic-white);
  background-color: var(--basic-ocean);
  box-shadow: 0px 1px 0px #293449, inset 0px 1px 0px #405069;
  padding: 0;
}

.tab-service-text:hover {
  background-color: var(--basic-ocean-blue);
  color: var(--basic-white);
}

.tab-service-text:active {
  background-color: var(--basic-white);
  color: var(--basic-ocean);
}
.service-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.service-list-header {
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  color: var(--basic-ocean);
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.button-radius {
  background: var(--basic-red);
  width: 192px;
  height: 38px;
  border: none;
  border-radius: 2px;
  padding: 0;
}

.about-company-wrapper {
  display: grid;
  grid-template-columns: 1fr 300px;
  gap: 180px;
}



.about-company-header {
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  color: var(--basic-black);
  text-transform: uppercase;
  padding: 0;
  margin: 0;
}

.about-company-text {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: var(--basic-black);
  padding: 0;
  margin: 0;
}

.about-company-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.about-company-item {
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-black);
  /* list-style-image: url("../img/icons/icon-line.svg");*/
}

.main-footer {
  background-color: var(--basic-ocean);
}

.footer-wrapper {
  display: grid;
  grid-template-columns: 220px 1fr;
}

.footer-logo {
  display: inline-block;
  width: 220px;
  height: 68px;
  background-color: var(--basic-red);
}

.footer-telephone {
  color: var(--basic-white);
}

.footer-navigation-list {
  display: grid;
  padding: 0;
  margin: 0;
  list-style: none;
}

.footer-nav-link {
  text-decoration: none;
  color: var(--basic-white);
}

.footer-nav-link:hover {
  text-decoration: underline;
}

.footer-nav-link:active {
  text-decoration: none;
  opacity: 0.5;
}

.footer-menu-list {
  display: grid;
  padding: 0;
  margin: 0;
  list-style: none;
}

.color-gold {
  color: var(--basic-gold);
}

.mail,
.site {
  text-decoration: none;
}

.mail:hover,
.site:hover {
  text-decoration: underline;
}

.mail:active,
.site:active {
  color: var(--basic-red);
  text-decoration: none;
}

.footer-contacts {
  background-color: var(--basic-ocean-blue);
}

.footer-contacts-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.footer-contacts-info {
  padding: 0;
  margin: 0;
}

.footer-copyright {
  padding: 0;
  margin: 0;
}

.footer-social-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.modal {
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: var(--basic-black);
}

.form-name-placeholder::placeholder,
.form-email-placeholder::placeholder,
.form-text-placeholder::placeholder {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  color: var(--form-placeholder);
}

.visibility-hidden {
  visibility: hidden;
  padding: 0;
  margin: 0;

}

.button-footer-form {
  width: 480px;
  height: 38px;
}

.button-exit {
  border: none;
  background-color: var(--basic-white);
}

.button-exit:hover {
  border: 3px solid var(--red-hover);
}

.button-exit:active {
  opacity: 0.5;
}

/*catalog.html*/
.cart-buy {
  background-color: var(--basic-red);
}

.user-name {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 21px;
  line-height: 21px;
  font-weight: 400;
  color: var(--basic-black);
}

.user-menu-list {
  list-style: none;
}

.user-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: var(--basic-ocean);
  text-decoration: none;
}

.user-menu-account {
  color: var(--basic-ocean);
}

.user-link:hover {
  color: var(--basic-red);
}

.user-name:active,
.user-link:active,
.marker-color:active {
  color: var(--basic-greylight);
}

.nav-catalog {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.nav-catalog-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.breadcrumbs {
  text-decoration: none;
  color: var(--basic-black);
}

.catalog-header {
  font-family: "Cuprum", Arial, sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-ocean);
  background-color: var(--basic-smoky-white);
  padding: 0;
  margin: 0;
}

.filter-catalog-wrapper {
  display: grid;
  grid-template-columns: 220px 1fr;
}

.filter-catalog,
.sort-catalog {
  font-family: "PT Sans", Arial, sans-serif;
}

.filter-text,
.sort-text {
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  color: var(--basic-black);
  text-transform: uppercase;
  background-color: var(--basic-catalog-filter);
  padding: 0;
  margin: 0;
}

.legend-text {
  font-family: "PT Sans Bold", Arial, sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
}

.range {
  background-color: var(--basic-catalog-filter);
}

.filter-catalog-list {
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  color: var(--basic-black);
  text-transform: uppercase;
  list-style: none;
}

.button-catalog-filter {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  text-align: center;
  background-color: var(--basic-white);
  color: var(--basic-black);
  border: 1px solid var(--button-catalog-filter);
  text-transform: uppercase;
  width: 220px;
  height: 38px;
}

.sort-catalog-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.button-sort {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  text-transform: uppercase;
  opacity: 0.3;
  border: none;
  background: var(--basic-white);
  /*img?*/
  border-bottom: 1px dashed var(--basic-red);
}

.button-sort:hover {
  color: var(--basic-black);
  opacity: 1;
  border-bottom: 1px solid var(--basic-red);
}

.button-sort:active {
  color: var(--basic-red);
  border: none;
}

.catalog-page-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.current-page,
.next-page {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  border: 1px solid var(--button-catalog-filter);
  color: var(--basic-black);
  width: 38px;
  height: 38px;
}

.current-page {
  background-color: var(--basic-red);
}

.next-page-text {
  text-transform: uppercase;
}

.current-page:hover,
.next-page:hover {
  border-color: #c5c5c5;
}

.current-page:active,
.next-page:active {
  border-color: var(--basic-red);
}

.about-drill {
  background-color: var(--basic-smoky-white);
}

.about-drill-header {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 30px;
  font-weight: 400;
  line-height: 30px;
  text-transform: uppercase;
  color: var(--basic-black);
  padding: 0;
  margin: 0;
}

.about-drill-text {
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 24px;
  color: var(--basic-black);
  padding: 0;
  margin: 0;
}

.modal-info-text {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 30px;
  color: var(--basic-black);
}

.button-continue {
  font-family: "Cuprum", Arial, sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: uppercase;
  width: 192px;
  height: 38px;
  border: none;
  text-decoration: none;
  color: var(--basic-black);
  background-color: var(--basic-white);
}
